{{>header}}

    <div class="form container">
        <form method="POST">
            <input id="user" placeholder="User" name="user">
            <input id="password" placeholder="Password" name="password">
            <button>Login</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

{{>footer}}